@mixin directional($dir-color: $directional-color) {
  background-color: $dir-color;
  box-shadow: -30px 30px 0 $dir-color, 0 60px 0 $dir-color, 30px 30px 0 $dir-color, 0 25px 0 $dir-color, 10px 30px 0 $dir-color, -10px 30px 0 $dir-color, 0 30px 0 $dir-color, 0 35px 0 $dir-color;
}

@mixin start_select($bg-color: $button-start-select) {
  background-color: $bg-color;
  box-shadow: 23px -35px 0 $bg-color;
}
