$gb-background: #c0bbb8;
$screen-color: #222;
$screen-border-width: 6px;
$directional-color: #000;
$button-color: #a92f60;
$button-x: #3c5286;
$button-y: #417f69;
$button-a: #a65354;
$button-b: #fbcb75;
$button-start-select: #6e6d75;
