@import 'abstracts/variables';

html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: #fafafa;
  box-shadow: inset 0 0 100px hsla(0, 0%, 0%, .3);
}

.gameboy {
  position: relative;
  display: inline-block;
  width: 314px;
  height: 518px;
  border-radius: 6px 6px 49px;
  background: $gb-background;
  box-shadow: inset -4px -2px 11px 2px hsla(27, 4%, 46%, 0.22),
  inset 0px -11px 16px -9px hsla(27, 4%, 46%, 0.82),
  inset 1px 1px 1px hsla(27, 4%, 46%, 0.23),
  inset 0 18px 10px -5px #d0ccc9;
}

.gameboy:after {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  display: block;
  width: 230px;
  height: 200px;
  margin: auto;
  padding: 10px;
  border-radius: 6px 6px 37px;
  background-color: $screen-color;
  box-shadow: inset 0 1px 2px 2px #3e3c48, inset 0 0 0 $screen-border-width #53535f, inset 0 0 5px ($screen-border-width + 1) #000, 0 0 0 2px #706768, 0 0 1px 2px #545663, 0 0 50px hsla(0, 0%, 0%, .3);
  content: '';
}

.gameboy:before {
  position: absolute;
  right: 190px;
  bottom: 50px;
  z-index: 5;
  display: inline-block;
  width: 9px;
  height: 35px;
  transform: rotate(60deg);
  border-radius: 100px;
  background-color: $button-start-select;
  box-shadow: 23px -35px 0 $button-start-select;
  content: '';
}

.controls {
  position: relative;
  display: block;
  width: 100%;

  &.directional {
    &::before {
      position: absolute;
      top: 320px;
      left: 60px;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 3px;
      background-color: $directional-color;
      box-shadow: -30px 30px 0 $directional-color, 0 60px 0 $directional-color, 30px 30px 0 $directional-color, 0 25px 0 $directional-color, 10px 30px 0 $directional-color, -10px 30px 0 $directional-color, 0 30px 0 $directional-color, 0 35px 0 $directional-color;
      content: '';
    }
  }

  &.button {
    &::after {
      position: absolute;
      display: inline-block;
      width: $button-size;
      height: $button-size;
      transform: rotate(-30deg);
      border-radius: 50%;
      background-color: $button-color;
      content: '';
    }
  }

  &.button-x {
    &::after {
      top: 280px;
      right: 50px;
    }
  }

  &.button-y {
    &::after {
      top: 302px;
      right: 100px;
    }
  }

  &.button-a {
    &::after {
      top: 280px + 50;
      right: 35px;
    }
  }

  &.button-b {
    &::after {
      top: 302px + 50;
      right: 85px;
    }
  }

  // Super Famicom theme
  .super-famicom & {

    &.button-x {
      &::after {
        background-color: $button-x;
      }
    }

    &.button-y {
      &::after {
        background-color: $button-y;
      }
    }

    &.button-a {
      &::after {
        background-color: $button-a;
      }
    }

    &.button-b {
      &::after {
        background-color: $button-b;
      }
    }
  }

  .snes-purple & {
    &.button-x,
    &.button-y {
      &::after {
        background-color: #a5a0ce;
      }
    }

    &.button-a,
    &.button-b {
      &::after {
        background-color: #50507c;
      }
    }
  }
}
